* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.header {
    width: 100vw;
    height: 134px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
}

.header .wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_menu {
    width: 452px;
    height: 50px;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}

.header_item:hover{
    cursor: pointer;
    color: #E06733;
}

.header_red {
    /*font-weight: 700;*/
    color: #E06733;
}

.header_link {
    transition: .3s;
}

.header_link:hover {
    color: #E06733;
    font-weight: 700;
}

.welcome {
    width: 100vw;
    height: 532px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.welcome .wrapper {
    width: 1282px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: #717171;
}

.welcome_img {
    width: 448px;
    height: 407px;
}

.welcome_text {
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.welcome_text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.header_green {
    color: #499A18;
}

.welcome_text p {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome_text button {
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;
}

.welcome_text button:hover {
    background-color: #E06733;
    color: #fff;
    cursor: pointer;
}

.about {
    width: 100vw;
    height: 666px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1222px;
    height: 479px;
}

.about_text{
    width: 549px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 464px;
    height: 479px;
}

.about_text h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
}

.about_text p{
    color: #636060;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.service {
    width: 100vw;
    height: 1300px;
    background-color: #EDF2EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service .wrapper{
    padding-top: 40px;
    width: 1222px; /*1220*/
    height: 1103px; /*1300*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service_text{
    width: 1007px;/*1440-324-109*/
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_text1{
    width: 306px;
    height: 94px;
}

.service_text h2{
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
}

.service_text_bt{
    width: 559px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_text_bt_butt{
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Inika', serif;
    transition: .3s;
}

.service_text_bt_butt:hover{
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}

.service_container{
    width: 1220px;
    height: 919px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.service_container_all{
    width: 330px;
    height: 450px;
}

.service_container_all_photo{
    width: 330px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.service_container_all_text{
    border: 1px solid #E3E1D5;
    width: 330px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.service_container_all_text_w{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.service_grey{
    color: #717171;
}

.prices{
    width: 100vw;
    height: 560px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.prices .wrapper{
    margin: 40px;
    width: 1222px;
    height: 405px;
    display: flex;
    justify-content: space-between;
}

.wrapper_container{
    width: 332px;
    height: 391px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper_container_text{
    width: 135px;
    height: 49px;
}

.wrapper_container_li{
    border: 1px solid #EDF2EC;
    width: 332px;
    height: 282px;
    display: flex;
    justify-content: center;
}

.wrapper_container_li_price{
    width: 250px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper_container_li_price_menu{
    border: 1px solid #EDF2EC;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #EDF2EC;
    border-radius: 20px;
}

.w_c_l_p_m_text{
    width: 100px;
    height: 18px;
    display: flex;
    align-items: center;
}

.w_c_l_p_m_img{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w_c_l_p_m_text_span{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.wrapper_container_text1{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.w_c_l_p_m_text_right{
    width: 452px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.wrapper_container_photo_right{
    width: 152px;
    height: 175px;
}

.wrapper_container_all{
    width: 452px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.w_c_l_p_m_text_right_head{
    width: 452px;
    height: 103px;
    text-align: end;
}

.w_c_l_p_m_text_right_head_bt{
    border: 1px solid #E06733;
    width: 162;
    height: 50px;
    color: #E06733;
    border-radius: 15px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inika', serif;
    transition: .3s;
    background-color: #FFFFFF;
}

.price_black{
    color: #000;
    font-weight: 700;
    font-size: 39.9px;
    font-family: 'Inter', sans-serif;
}

.w_c_l_p_m_text_right_head_bt:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E06733;
}

.contacts{
    width: 100vw;
    height: 550px;
    background-color: #EDF2EC;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contacts .wrapper{
    width: 1222px;
    height: 497px;
    display: flex;
    justify-content: space-between;
}

.header1_green{
    color: #499A18;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.wrapper1_green{
    color: #499A18;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Inika', serif;
}

.wrapper_photo{
    width: 400px;
    height: 497px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_text{
    width: 195px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_choise{
    width: 450px;
    height: 50px;
    margin: 94px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D6E7D2;
    box-shadow: 0px 3px 4px #D6E7D2;
}

.wrapper_choise_city{
    width: 204px;
    height: 40px;
    display: flex;
    align-items: center;
}

.wrapper_choise_button{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.wrapper_choise_container{
    width: 410px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper_choise_city_span{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #717171;
}

.footer{
    width: 100vw;
    height: 130px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .wrapper{
    width: 1222px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper{
    width: 182px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper_icons{
    width: 188px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper_char{
    color: #000;
    font-family: 'Inter', sans-serif;
}

.footer_wrapper_copy {
    width: 19px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrapper_2022{
    width: 49px;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer_wrapper_github{
    width: 61px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_wrapper_icons_ico{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}